@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--grey: #eee;
	--grey-l: #f3f3f3;
	--grey-d: #888;
	--white: #fafafa;
	--dark: #222;
	--red-l: #FFF2F2;
	--blue: #7462E1;
	--shadow: 2px 2px 4px rgba(0,0,0,.05);
	--trans: all .3s cubic-bezier(1,0,0,1);
	--green: #01CC8E;
	--red: #ee1b24;
	--cb: cubic-bezier(1,0,0,1);
}

body {
	background: var(--grey);
}





/* SIDEBAR */
#sidebar {
	width: 260px;
	background: var(--white);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	transition: var(--trans);
	z-index: 500;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	z-index: 400;
	opacity: 0;
	visibility: hidden;
	transition: var(--trans);
}
#sidebar.hide {
	left: -260px;
}
#sidebar .brand {
	display: flex;
	height: 4rem;
	align-items: center;
	font-size: 1.25rem;
	padding: 0 1.25rem;
	color: var(--dark);
	border-bottom: .3px solid var(--grey);
}
#sidebar .side-menu {
	padding: 1rem 0;
}
#sidebar .side-menu li {
	padding-right: 1rem;
}
#sidebar .side-menu li a {
	display: flex;
	grid-gap: 1rem;
	align-items: center;
	padding: .75rem 1.25rem;
	color: var(--dark);
	border-radius: 0 30px 30px 0;
	transition: var(--trans);
}
#sidebar .side-menu li a.active {
	background: var(--red-l);
	color: var(--blue);
}
#sidebar .side-menu li a:hover {
	color: var(--blue);
}
/* SIDEBAR */





/* CONTENT */
/* NAVBAR */
#content {
	position: relative;
	left: 260px;
	width: calc(100% - 260px);
	padding: .5rem;
	transition: var(--trans);
}
#sidebar.hide ~ #content {
	left: 0;
	width: 100%;
}
#content nav {
	height: 3rem;
	background: var(--white);
	box-shadow: var(--shadow);
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 0 .75rem;
	grid-gap: 1.5rem;
}
#content nav .icon-circle {
	color: var(--red);
}
#content nav span {
	margin-right: auto;
}
#content .icon {
	cursor: pointer;
	display: flex;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: var(--trans);
	font-size: 1.25rem;
}
#content .icon:hover {
	background: var(--grey-l);
}
/* NAVBAR */


/* MAIN */
#content main {
	background: var(--white);
	box-shadow: var(--shadow);
	margin-top: .5rem;
	height: calc(100vh - 4.5rem);
	border-radius: 10px;
	position: relative;
}
#content main .main-wrapper {
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: none;
}
#content main .main-wrapper::-webkit-scrollbar {
	display: none;
}
#content main .map {
	width: 100%;
	height: 100%;
	border: none;
}
/* MAIN */
/* CONTENT */





@media screen and (max-width: 768px) {
	#content {
		left: 0;
		width: 100%;
	}
	#sidebar ~ .overlay {
		opacity: 1;
		visibility: visible;
	}
	#sidebar.hide ~ .overlay {
		opacity: 0;
		visibility: hidden;
	}
}